//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>

// Import the fonts
// @font-face {
//   font-family: 'Glyphicons Halflings';
//   src: url('@{icon-font-path}@{icon-font-name}.eot');
//   src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'),
//        url('@{icon-font-path}@{icon-font-name}.woff2') format('woff2'),
//        url('@{icon-font-path}@{icon-font-name}.woff') format('woff'),
//        url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'),
//        url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
// }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//at.alicdn.com/t/font_z2c6i3on6ototj4i.eot');
  src: url('//at.alicdn.com/t/font_z2c6i3on6ototj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_z2c6i3on6ototj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_z2c6i3on6ototj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_z2c6i3on6ototj4i.svg#iconfont') format('svg');
}

// Catchall baseclass
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
.glyphicon-user-icon                  { &:before { content: "\e639"; } }
.glyphicon-log-out                    { &:before { content: "\e611"; } }
.glyphicon-success                    { &:before { content: "\e60a";color: #43cb83} }
.glyphicon-error                      { &:before { content: "\e608";color: #e74c3c} }
.glyphicon-warning                    { &:before { content: "\e609";color: #f0ad4e} }
.glyphicon-add-more                   { &:before { content: "\e61a"; } }
.glyphicon-point                      { &:before { content: "\e6df"; } }
.glyphicon-search                     { &:before { content: "\e630"; } }
.glyphicon-tixing                     { &:before { content: "\e634"; } }
.glyphicon-kuaijie                    { &:before { content: "\e633"; } }
.glyphicon-pachong                    { &:before { content: "\e632"; } }
.glyphicon-renzheng                   { &:before { content: "\e631"; } }
.glyphicon-logout                     { &:before { content: "\e636"; } }


