.text-gray-darker{
	color:  @gray-darker;
}
.text-gray-dark{
	color:  @gray-dark;
}
.text-gray{
	color:  @gray;
}
.text-gray-light{
	color:  @gray-light;
}
.text-gray-lighter{
	color:  @gray-lighter;
}
.brand-gray-darker{
	background-color:  @gray-darker;
}
.brand-gray-dark{
	background-color:  @gray-dark;
}
.brand-gray{
	background-color:  @gray;
}
.brand-gray-light{
	background-color:  @gray-light;
}
.brand-gray-lighter{
	background-color:  @gray-lighter;
}
.brand-success{
	background-color: @brand-success;
}
.brand-info{
	background-color: @brand-info;
}
.brand-primary{
	background-color: @brand-primary;
}
.brand-warning{
	background-color: @brand-warning;
}
.brand-danger{
	background-color: @brand-danger;
}
input[type="radio"]{
  width: 16px;
  height: 16px;
}
input[type="radio"]:before{
  content: '\e6df';
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17px;
  text-indent: -1px;
  border-radius: 50%;
  border: 1px solid silver;
  vertical-align: middle;
  line-height: .87;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: white;
  transition: all 0.15s;
}
input[type="radio"]:hover:before{
  content: '\e6df';
  color: #007be3;
}
input[type="radio"]:checked:before{
  content: '\e6df';
  color: #007be3;
}
input[type="radio"]{
  position: relative;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]{
  width: 16px;
  height: 16px;
}
input[type="checkbox"]:before{
  content: '\e60b';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-indent: 1px;
  border-radius: 4px;
  vertical-align: middle;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: silver;
  line-height: 1.4;
  transition: all 0.15s;
  color: silver;
}
input[type="checkbox"]:hover:before{
  content: '\e60b';
  color: white;
}
input[type="checkbox"]:checked:before{
  content: '\e60b';
  color: white;
  background: #43cb83;
}
input[type="checkbox"]{
  position: relative;
  clip: rect(0, 0, 0, 0);
}